.navbar-inverse .navbar-brand{
	color: white;
}

body{
	background-color: #F04034;
}

.pageTitle{

	color: white;
}

.pceroImg{
	border: 1px solid black;
}

.descripcion{

	margin-top: 10px;
	font-size: 1.2em;
	color: white;
}