.navbar-inverse .navbar-brand{
	color: white;
}
#navTop{
	border-radius: 0px;
}

body{
	background-color: #F04034;
}

.pageTitle{

	color: white;
}

.pceroImg{
	border: 1px solid black;
}

.descripcion{

	margin-top: 10px;
	font-size: 1.4em;
	color: white;
}

.botonJugar{

	text-align: center;
}

.footer{

	background-color: #333;
}


.contacto{
	color: white;
   }

  a.contacto:hover{color:white;}


#navBottom{
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin: 0px;
	border-radius: 0px;
	color: white;
}

#navBottom{
	display: flex;
    align-items: center;
    justify-content: center;
}