.navbar-inverse .navbar-brand{
	color: white;
}
#navTop{
	border-radius: 0px;
}

body{
	background-color: #F04034;
}

.pageTitle{

	color: white;
}

.pceroImg{
	border: 1px solid black;
}

.descripcion{

	margin-top: 10px;
	font-size: 1.4em;
	color: white;
}

.botonJugar{

	text-align: center;
	
}




.contacto{
	color: white;

   }

  a.contacto:hover{color:white;}



#navBottom{
	display: flex;
    align-items: center;
    justify-content: center;
}

.abajo{

	width: 100%;
	background-color: #222;
	height: 50px;

	display: flex;
    align-items: center;
    justify-content: center;

}

.div2{
	background-color: #56066C;
	margin-top: 20px;
}