.navbar-inverse .navbar-brand{
	color: white;
}
#navTop{
	border-radius: 0px;
}

body{
	background-color: #F04034;

	
}

#bodyDescargas{
	margin-bottom: 50px;


}

#bodyAboutUS{

	margin-bottom: 50px;
}
.pageTitle{

	color: white;
	font-size: 2em;
	
}

.pceroImg{
	border: 1px solid black;
}

.descripcion{

	margin-top: 10px;
	font-size: 1.4em;
	color: white;
}

.botonJugar{

	text-align: center;
	
}
.contacto{
	color: white;

   }

  a.contacto:hover{color:white;}


.abajo{

	width: 100%;
	background-color: #222;
	height: 50px;

	display: flex;
    align-items: center;
    justify-content: center;

}

.abajoDescargas{

	width: 100%;
	background-color: #222;
	height: 2.5em;

	display: flex;
    align-items: center;
    justify-content: center;

 	position: fixed;
    height: 50px;
    background-color: #222;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;


  
  

}
.div2{
	background-color: #56066C;
	margin-top: 20px;
}

.phaserTitle{

	color: white;
	font-size: 1.4em;
}

.filaDescargar{

	color: white;
	margin-top: 30px;
	font-size: 1.4em;
}

.botonDownload{

	float: right;
	width: 100px;
}

.botonGit{

	float: right;
	width: 100px;
}

.imagenArchivos{
	margin-top: 40px;

}

#archivosImg{
	border: 2px solid black;
}

.arcExist{
	color: white;

}

#aboutUSJumbo{

	background-color: #9F2626;
	color: white;
}

#aboutUSDiv{

	width: 100%;
	
	background-color: #9F2626;
	border-radius: 6px;
}

.aboutUSContent{

	word-wrap: break-word;
	color: white;
	font-size: 1.4em;
	padding: 5px;
}